.gradient-gray{
    background: #5b5b5b;
    background: -moz-linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);
    background: -webkit-linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
    background: linear-gradient(to bottom, #5b5b5b 0%,#2c2c2c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#353535',GradientType=0 );
}

body{
    min-height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 60px auto;
}

.song-manager-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-row-gap: 20px;
    max-height: 100vh;

    .top-grid{
        display: grid;
        grid-template-columns: 40px 40px auto;
        grid-column-gap: 20px;
    }
}

.panel{
    // border: 1px solid red;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.card{
    background-color: $gray-tr;
    border-radius: 3px;
}
.card-panel{
    background-color: $gray-tr;
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card-panel-round{
    border-radius: 50px;
}

.card-button{
    background-color: $gray-tr;
    border-radius: 3px;
    text-align: center;
    color: $white;
    line-height: 40px;
    cursor: pointer;
    transition-duration: 0.25s;
    
    &:hover{
        transform: scale(1.1);
    }
}
.card-button-round{
    border-radius: 50%;
}
.card-button-high{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.button-playback{
    color: $white;
    font-size: 16px;
    line-height: 40px;
    margin: 0px 5px;
}

.button-playback-active{
    color: #db8d60;
}

#song_player{
    i{
        cursor: pointer;
        transition-duration: 0.1s;

        &:active{
            transform: scale(0.8);
        }
    }
}

.right-panel-grid{
    display: grid;
    grid-template-rows: auto;
}

.visualizer-box{
    background-color: rgb(55,55,55);
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    canvas{
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    // color: rgb(68, 68, 68);
}

.song-details{
    border-radius: 4px;
    background-color: $gray-tr;
    padding: 20px;

    .song_tag{
        display: block;
        padding: 10px 0px;
        border-bottom: 1px dashed rgba(128, 128, 128, 0.301);
        color: gray;
    }
}

.song-actions{
    border-radius: 4px;
    background-color: $gray-tr;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    .song-action{
        color:gray;
        text-align: center;
        cursor: pointer;
    }
}

.hidden{display: none !important;}

#visualizer-iframe{
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}