.main-container{
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    max-height: 100vh;
}

.song-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-y: auto;
    height: auto;
    li{
        padding: 8px 16px;
        font-size: 14px;
        color: $white-darker;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 10px;
        cursor: pointer;

        span{
            overflow: hidden;
        }
    }
    
    li:nth-of-type(2n){
        background-color: $gray-tr-hover;
    }

    li:hover{
        background: rgba(250, 128, 114, 0.05);
    }

    .song_selected{
        background-color: rgba(146, 94, 65, 0.274) !important;
    }
}